.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.login-page-container form{
  max-width: 500px;
  width: 100%;
  padding: 20px;
}

.first-row-login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}
